{% extends 'indexadmin.html' %}
{% block body %}


<head>
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#fd7e14;
  color: white;
}
</style>
</head>
<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="900" border="0" id="customers" class="table">
      <tr>
        <th scope="col">project</th>
        <th scope="col">details</th>
        <th scope="col">description</th>
        <th scope="col">manager</th>
        <th scope="col">amount</th>
        <th scope="col">&nbsp;</th>
      </tr>
       {% for i in v %}
    <tr>
     <td>{{i[2]}} </td>
        <td><a href="./static/files/{{i[5]}}">download</a></td>
        <td>{{i[3]}}</td>
        <td>{{i[8]}} {{i[9]}}</td>
        <td>{{i[4]}}</td>
        <td><p><a href="accept?id={{i[0]}}">accept</a></p>
        <p><a href="reject?id={{i[0]}}">reject</a></p></td>
      </tr>
              {% endfor %}

      </table>
  </div>
</form>
</body>
</div>
    </div>
    </div>

</section>

{% endblock  %}