{% extends 'indexmanager.html' %}
{% block body %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <!--<div class="row">-->
        <!--<div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">-->
          <!--<h1>Outlier Detect</h1>-->
<!--           <h2>We are team of talanted designers making websites with Bootstrap</h2>
          <div class="d-lg-flex">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
          </div> -->
        <!--</div>-->
          </br>
            <br>

           <center><h1 class="img-fluid animated">CROWD FUNDING</h1></center>
        <!--<div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">-->
          <!--<img src="/static/assets/img/fc2.png" class="img-fluid animated" alt="">-->
        <!--</div>-->
      <!--</div>-->
    </div>

  </section><!-- End Hero -->

{% endblock %}