{% extends 'indexmanager.html' %}
{% block body %}
<head>
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

#customers th {

  background-color:#fd7e14;
  color: white;
}
</style>
</head>

<body>
<form id="form1" name="form1" method="post" action="createproject2">
    <div align="center">
  <table width="400" border="1"  >
    <tr><th>
     <table width="400" border="0" id="customers" >
    <tr>
        <th scope="col"><div align="center"><h1><font color="white">MY WALLET</font></h1></div></th>


    </tr>

    <tr>
        <td><div align="center">{{v[0]}} {{v[1]}} </div></td>

    </tr>

    <tr>
      <td><div align="center">
          <p>{{v[2]}}</p></div>
        </td>
    </tr>
      <tr>
          <td><div align="center"><p>Balance</p> <h3>{{v[3]}}</h3> </div></td>

    </tr>
     </table></th></tr></table></div>
</form>
</body>
</div>
    </div>
    </div>

</section>

{% endblock %}