{% extends 'indexmanager.html' %}
{% block body %}
<br>
<head>
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

#customers th {

  background-color:#fd7e14;
  color: white;
}
</style>
</head>
<body>
<form id="form1" name="form1" method="post" action="sendrequest2#about">
  <table width="600" border="1" id="customers" class="table">
    <tr>
      <th scope="col">project</th>
      <th scope="col">description</th>
      <th scope="col">required
	  amount</th>
      <th scope="col">reason</th>
      <th scope="col">status</th>
    </tr>
    {% for i in v %}
    <tr>
      <td>{{i[6]}}</td>
      <td>{{i[7]}}</td>
      <td>{{i[2]}}</td>
      <td>{{i[3]}}</td>
      <td>{{i[5]}}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="6"><div align="center">
        <label>
        <input type="submit" name="Submit" value="add new" class="btn btn-warning"/>
        </label>
      </div></td>
    </tr>
  </table>
</form>
</body>
</div>
    </div>
    </div>

</section>

{% endblock %}