{% extends 'indexmanager.html' %}
{% block body %}
<head>
<style>

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#fd7e14;
  color: white;
}
</style>
</head>
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" id="customers">
    <tr>
      <th scope="row">project</th>
      <th>reson</th>
        <th>Amount</th>
            <th>Vote</th>
                    <th>remaining Vote</th>


    </tr>
    {% for i in val %}
    <tr>
      <td scope="row">{{i[0]}}</td>
      <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
        <td>{{i[3]}} % </td>
<td>{{i[4]}}</td>

    </tr>
    {% endfor %}
  </table>
</form>
</body>
</div>
    </div>
    </div>

</section>

{% endblock %}