<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
{% extends 'staff/staffindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="233" border="1">
    <!--<tr>-->
      <!--<td width="223"><a href="/add_manage_students">Add and Manage Students</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/allocated_subs">View Allocated Subjects</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/view_time_schedule">View Time Schedule</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/upload_video">Upload Videos</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/study_material">Upload Study Materials</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/manage_exam">Manage Exam</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/chat">Chat</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="/view_attendance">View Attendance</a></td>-->
    <!--</tr>-->
     <!--<tr>-->
      <!--<td><a href="/">Logout</a></td>-->
    <!--</tr>-->
  </table>
</form>
{% endblock %}
<!--</body>-->
<!--</html>-->
