<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
{% extends 'staff/staffindex.html' %}
{% block body %}
<form action="/video_upload" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1"  class="table table-hover">

    <tr>
      <td class="info"><b>Subject</b></td>
      <td><label>
        <select name="select">
           {% for i in val %}
          <option value="{{i[0]}}">{{i[3]}}</option>
          {% endfor %}
        </select>
      </label></td>
    </tr>

    <tr>
      <td class="info"><b>Topic</b></td>
      <td><label>
        <input type="text" name="textfield" required/>
      </label></td>
    </tr>
    <tr>
      <td class="info"><b>Video</b></td>
      <td><label>
        <input type="file" name="file" required/>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Submit" class="btn btn-info"/>
          </div>
      </label></td>
    </tr>
  </table>
</form>
{% endblock %}
<!--</body>-->
<!--</html>-->
