<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
{% extends 'staff/staffindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-hover">
    <tr class="info">
      <td><b>Subject</b></td>
      <td><b>Day</b></td>
      <td><b>Hour</b></td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i[0]}}&nbsp;</td>
      <td>{{i[3]}}&nbsp;</td>
      <td>{{i[4]}}&nbsp;</td>
    </tr>
    {% endfor %}
  </table>
</form>
{% endblock %}
<!--</body>-->
<!--</html>-->
