<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
{% extends 'staff/staffindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-hover">
    <tr class="info">
      <td><b>Student Name</b> </td>
      <td><b>Answer Paper</b> </td>
      <td><b>Date</b></td>
      <td><b>Time</b></td>
    </tr>
{% for i in val%}
    <tr >
      <td height="28">{{i[2]}} {{i[3]}} {{i[4]}}</td>
      <td><a href="static/anspaper/{{i[26]}}" download >Download</a></td>
      <td>{{i[27]}}</td>
      <td>{{i[28]}}</td>
    </tr>
    {% endfor %}
  </table>
</form>
{% endblock %}
<!--</body>-->
<!--</html>-->
