{% extends 'temp/user_form.html' %}
{% block base %}
<body>
<center>
	<h2>View Friends</h2>
	<table class="table table-bordered text-center">
		<tr>
{#            <th>Profile Pic</th>#}
			<th>Name</th>
{#			<th>Gender</th>#}
			<th>DOB</th>
{#			<th>Location</th>#}
			<th>Message</th>

		</tr>
        {% for i in details %}
		<tr>
{#            <td><a href={% url 'chat' idd=i.f_id %}><img src="/static/{{ i.f_profile_pic }}" width="70" height="70"></a></td>#}
{#            <td><a href={% url 'chat' idd=i.f.f_name %}>{{ i.f_id }}</a></td>#}
			<td>{{ i.f.u_name}}</td>
			<td>{{ i.f.u_dob}}</td>
			<td>{{ i.m_content}}</td>
		</tr>
        {% endfor %}
	</table>
</center>
{% endblock %}