{% extends 'adminindex.html' %}
{% block body %}

<body>
<!--<table width="545" border="0">-->
  <!--<tr>-->
    <!--<th width="102" scope="col"><a href="/addpolice">Add Police </a></th>-->
    <!--<th width="123" scope="col"><a href="/addcam">Add Camera </a></th>-->
    <!--<th width="69" scope="col"><a href="#">Search</a></th>-->
    <!--<th width="124" scope="col"><a href="videoup">Video Upload</a></th>-->
    <!--<th width="93" scope="col"><a href="/">Logout</a></th>-->
  <!--</tr>-->
<!--</table>-->
</body>
{% endblock %}