{% extends 'adminindex.html' %}
{% block body %}
<body>
<form id="form2" name="form2" method="post" action="assign1">
  <div align="center">
    <table width="29%" border="0" cellpadding="1" class="table">
        <tr>
        <th scope="row"><center>POLICE</center>
            <center>
            <SELECT name="slt">
                {% for i in v%}
                <option value="{{i[1]}}">{{i[2]}}</option>
                {% endfor %}
            </SELECT>
            </center>
            <p>&nbsp;</p></th>
      </tr>
      <tr>
        <th scope="row"><center>STATUS</center>
            <center>
            <textarea name="textarea" required></textarea>
            </center>
            <p>&nbsp;</p></th>
      </tr>
              </table>
<br>
      <br>
      <div align="center">
          <input type="submit" name="Submit" value="SEND" />
      </div>
  </div>
</form>
</body>
{% endblock %}