<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">REGISTER</h1>
	<form method="post">
        {% csrf_token %}
<center>
	<table>
		<tr>
			<td>Name</td>
			<td></td>
			<td><input type="text" name="name"></td>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr>
			<td>Password</td>
			<td></td>
			<td><input type="Password" name="Password"></td>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr>
			<td>Email</td>
			<td></td>
			<td><input type="Email" name="Email"></td>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr>
			<td>Phone no</td>
			<td></td>
			<td><input type="Phone" name="phoneno"></td>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr>
			<td>Address</td>
			<td></td>
			<td><input type="Address" name="Address"></td>
		</tr>
        <tr></tr>
		<tr></tr>
		<tr></tr>
		<tr>
			<td>Specilization</td>
			<td></td>
			<td><input type="text" name="special"></td>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr></tr>
		<tr>
			<td></td>
			<td><input type="submit" name="submit"></td>
		</tr>
	</table>
</center>
</form>
</body>
</html>