
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/addroutes">
  <table width="200" border="1">
    <tr>
      <th scope="row">from</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" required/></td>
    </tr>
    <tr>
      <th scope="row">to</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" required /></td>
    </tr>
    <tr>
      <th scope="row">route</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3"required /></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Submit" /></th>
    </tr>
  </table>
</form>
</body>
</html>