<html>
<head>
	<title>VIEW COMPLAINT</title>
</head>
<body>
{% extends 'temp/DOCTOR.html' %}
{% block base %}
<form method="post">
	<center><h2 align="center">COMPLAINTS</h2><br><br>
	<table border="1" align="center" class="table table-bordered" >
		<tr>
			<th style="border: solid">NO.</th>
			<th style="border: solid">COMPLAINT</th>
			<th style="border: solid">USER NAME</th>
			<th style="border: solid">DATE</th>
			<th style="border: solid">TIME</th>
            <th style="border: solid"></th>
		</tr>
        {% for i in comp %}
		<tr>
			<td style="border: solid">{{ i.complaint_id }}</td>
			<td style="border: solid">{{ i.comaplaint }}</td>
			<td style="border: solid">{{ i.user.name }}</td>
			<td style="border: solid">{{ i.date }}</td>
			<td style="border: solid">{{ i.time }}</td>
			<td style="border: solid"><a href="{% url 'repcomp' idd=i.c_id %}" class="btn btn-primary">REPLY</a></td>
		</tr>
        {% endfor %}
	</table>
    </center>
</form>
{% endblock %}
</body>
</html>
