<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="request_to_forensic">
  <table width="200" border="1">
    <tr>
      <th scope="col"><label>
        forensic  
        
        </label></th>
      <th scope="col"><select name="select">
        
          {% for i in val %}
          
        <option value="{{i[6]}}" >{{i[1]}}</option>
        
          {% endfor %}
        
      </select>
      </th>
    </tr>
    <tr>
      <th scope="col">request</th>
      <th scope="col"><label>
        <textarea name="textarea"></textarea>
      </label></th>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Submit" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
