{% extends 'indexforensic.html' %}
{% block body %}

<!--<body>-->
<!--<table width="200" border="1">-->
  <!--<tr>-->
    <!--<td height="41"><a href="viewcases">View request</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td height="33"><a href="upload_report">Report upload</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td height="34"><a href="view_history">View history</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td height="36"><a href="/">Logout</a></td>-->
  <!--</tr>-->
<!--</table>-->
<!--</body>-->
{% endblock %}