<html lang="en">
<head>
<head>
  <style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<title>Scenic HTML Template</title>

<!--

Template 2099 Scenic

http://www.tooplate.com/view/2099-scenic

-->

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="./static/css/bootstrap.min.css">
<link rel="stylesheet" href="./static/css/font-awesome.min.css">
<link rel="stylesheet" href="./static/css/magnific-popup.css">

<link rel="stylesheet" href="./static/css/owl.theme.css">
<link rel="stylesheet" href="./static/css/owl.carousel.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="./static/css/tooplate-style.css">

</head>
<body>

<!-- PRE LOADER -->
<div class="preloader">
     <div class="spinner">
          <span class="sk-inner-circle"></span>
     </div>
</div>


<!-- MENU -->
<div class="navbar custom-navbar navbar-fixed-top" role="navigation">
     <div class="container">

          <!-- NAVBAR HEADER -->
          <div class="navbar-header">
               <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
               </button>
               <!-- lOGO -->

          </div>

          <!-- MENU LINKS -->
          <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home" class="smoothScroll">forensic home</a></li>
                    <li><a href="viewcases#about" class="smoothScroll">View request</a></li>
                          <li><a href="upload_report#about" class="smoothScroll">Report upload</a></li>
                    <li><a href="view_history#about" class="smoothScroll">View history</a></li>
                    <!--<li><a href="view_allocated_case#about" class="smoothScroll">allocated case</a></li>-->
                    <!--<li><a href="sendreport#about" class="smoothScroll">send report</a></li>-->
                    <!--<li><a href="viewcriminaldetailes#about" class="smoothScroll">view crminal details</a></li>-->
                        <!--<li><a href="crimepattern#about" class="smoothScroll">view crime pattern</a></li>-->
                    <!--<li><a href="viewprofile#about" class="smoothScroll">view profile</a></li>-->
                      <!--<li><a href="view_reported_criminal#about" class="smoothScroll">reported criminals</a></li>-->
                    <li><a href="/logout#about" class="smoothScroll">logout</a></li>

               </ul>
          </div>

     </div>
</div>


<!-- HOME -->
<section id="home" class="parallax-section">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-8 col-sm-12">
                    <div class="home-text">
                         <h1>Forensic Department</h1>
                         <!--<p>Feel free to download and use HTML templates from Tooplate</p>-->
                         <!--<ul class="section-btn">-->
                              <!--<a href="#about" class="smoothScroll"><span data-hover="Discover More">Discover More</span></a>-->
                         <!--</ul>-->
                    </div>
               </div>

          </div>
     </div>

     <!-- Video -->
     <!--<video controls autoplay loop muted>-->
          <!--<source src="./static/videos/video.mp4" type="video/mp4">-->
          <!--Your browser does not support the video tag.-->
     <!--</video>-->
      <img src="../static/criminalpic/sourav.jpg" height="500px">
</section>


<!-- ABOUT -->
<section id="about" class="parallax-section">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="about-info">
                        {% block body %}
                        {% endblock%}
                           </div>
               </div>

          </div>
     </div>
</section>



<!-- CONTACT -->
<!--<section id="contact" class="parallax-section">-->
     <!--<div class="container">-->
          <!--<div class="row">-->

               <!--<div class="col-md-offset-3 col-md-6 col-sm-12">-->
                    <!--<div class="section-title">-->
                         <!--<h1>Talk to us!</h1>-->
                    <!--</div>-->
               <!--</div>-->

               <!--<div class="clearfix"></div>-->

               <!--<div class="col-md-offset-2 col-md-8 col-sm-12">-->
                    <!--&lt;!&ndash; CONTACT FORM HERE &ndash;&gt;-->
                    <!--<form id="contact-form" action="#" method="get" role="form">-->

                         <!--&lt;!&ndash; IF MAIL SENT SUCCESSFULLY &ndash;&gt;-->
                         <!--<h6 class="text-success">Your message has been sent successfully. </h6>-->

                         <!--&lt;!&ndash; IF MAIL SENDING UNSUCCESSFULL &ndash;&gt;-->
                         <!--<h6 class="text-danger">E-mail must be valid and message must be longer than 1 character.</h6>-->

                         <!--<div class="col-md-6 col-sm-6">-->
                              <!--<input type="text" class="form-control" id="cf-name" name="cf-name" placeholder="Name">-->
                         <!--</div>-->

                         <!--<div class="col-md-6 col-sm-6">-->
                              <!--<input type="email" class="form-control" id="cf-email" name="cf-email" placeholder="Email Address">-->
                         <!--</div>-->

                         <!--<div class="col-md-12 col-sm-12">-->
                              <!--<input type="text" class="form-control" id="cf-subject" name="subject" placeholder="Subject">-->
                              <!--<textarea class="form-control" rows="5" id="cf-message" name="cf-message" placeholder="Message"></textarea>-->
                         <!--</div>-->

                         <!--<div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">-->
                              <!--<div class="section-btn">-->
                                   <!--<button type="submit" class="form-control" id="cf-submit" name="submit"><span data-hover="Send Message">Send Message</span></button>-->
                              <!--</div>-->
                         <!--</div>-->
                    <!--</form>-->
               <!--</div>-->

          <!--</div>-->
     <!--</div>-->
<!--</section>-->

<!-- FOOTER -->
<footer>
     <div class="container">
          <!--<div class="row">-->

               <!--<div class="col-md-5 col-sm-6">-->
                    <!--<h2>Digital Studio</h2>-->
                    <!--<p>321 Donec et justo id risus, Malesuada pharetra,<br> Tristique vestibulum,<br> Lorem ipsum dolor</p>-->


               <!--</div>-->

               <!--<div class="col-md-4 col-sm-6">-->
                    <!--<div class="footer-info">-->
                    	<!--<h2>Keep in touch</h2>-->
                         <!--<p><a href="tel:010-090-0780">010-090-0780</a></p>-->
                         <!--<p><a href="mailto:info@company.com">info@company.com</a></p>-->
                         <!--<p><a href="#">Our Location</a></p>-->
                    <!--</div>-->
               <!--</div>-->

               <div class="col-md-3 col-sm-12">

                    <!--<h2>About Us</h2>-->
                    <!--<p>Sed vestibulum posuere ante, eget blandit metus. Morbi sodales feugiat erat, et placerat sapien suscipit ut.</p>-->
                    <!--<ul class="social-icon">-->
                         <!--<li><a href="#" class="fa fa-twitter"></a></li>-->
                         <!--<li><a href="#" class="fa fa-facebook"></a></li>-->
                         <!--<li><a href="#" class="fa fa-instagram"></a></li>-->
                         <!--<li><a href="#" class="fa fa-linkedin"></a></li>-->
                    <!--</ul>-->

               </div>

               <div class="clearfix"></div>

               <!--<div class="col-md-12 col-sm-12">-->
                    <!--<div class="copyright-text">-->
                         <!--<p>Copyright © 2018 Company Name-->

                         <!--| Design: Tooplate</p>-->
                    <!--</div>-->
               <!--</div>-->

          </div>
     </div>
</footer>

<!-- SCRIPTS -->
<script src="./static/js/jquery.js"></script>
<script src="./static/js/bootstrap.min.js"></script>
<script src="./static/js/jquery.parallax.js"></script>
<script src="./static/js/owl.carousel.min.js"></script>
<script src="./static/js/jquery.magnific-popup.min.js"></script>
<script src="./static/js/magnific-popup-options.js"></script>
<script src="./static/js/modernizr.custom.js"></script>
<script src="./static/js/smoothscroll.js"></script>
<script src="./static/js/custom.js"></script>

</body>
</html>