<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="261" border="1">
  <tr>
    <td width="105">Upload request </td>
    <td width="53">&nbsp;</td>
    <td width="81">Brows</td>
  </tr>
  <tr>
    <td height="28" colspan="3"><label>
      <div align="center">
        <input type="submit" name="Submit" value="Upload" />
        </div>
    </label></td>
  </tr>
</table>
</body>
</html>
