{% extends 'index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="200" border="1">
      <tr>
        <td>report</td>
        <td><label>
          <input type="text" name="textfield"required />
        </label></td>
      </tr>
      <tr>
        <td>discription</td>
        <td><label>
          <input type="text" name="textfield2"required />
        </label></td>
      </tr>
      <tr>
        <td colspan="2"><label>
          <div align="center">
            <input type="submit" name="Submit" value="send" />
            </div>
        </label></td>
      </tr>
      </table>
  </div>
</form>
{% endblock %}
