<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <h2>UserProfile</h2>
  </div>
  <hr>
  
<div class="container">
  <div>
   <b>Username : </b> <p>{{username}}</p>
    <p>{{first_name}}</p>
    <p>{{last_name}}</p>
    <p>{{email}}</p>
  </div>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-success">submit</button> 
  </form>
</div>

</body>
</html> -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>USER PROFILE</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href='{% static "fonts3/material-icon/css/material-design-iconic-font.min.css" %}'>

    <!-- Main css -->
    <link rel="stylesheet" href='{% static "css3/style.css" %}'>
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src='{% static "images3/signup-img.jpg" alt="" %}'>
                </div>
                <div class="signup-form">
                    <form method="POST"  enctype="multipart/form-data" class="register-form" id="register-form">
                        {% csrf_token %}
                        <h2>Create your Profile</h2>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="name">First Name :</label>
                                <input type="text" name="first_name" id="name"  required/>
                            </div>
                            <div class="form-group">
                                <label for="father_name">Last Name :</label>
                                <input type="text" name="last_name" id="father_name"  required/>
                            </div>
                        </div>
                        <div class="form-group">
                          <label for="address">Email :</label>
                          <input type="text" name="email" id="email"  required/>
                      </div>
                        <div class="form-group">
                            <label for="address">Address :</label>
                            <input type="text" name="address" id="address" required/>
                        </div>
                        <div class="form-radio">
                            <label for="gender" class="radio-label">Gender :</label>
                            <div class="form-radio-item">
                                <input type="radio" name="gender" id="male" checked>
                                <label for="male">Male</label>
                                <span class="check"></span>
                            </div>
                            <div class="form-radio-item">
                                <input type="radio" name="gender" id="female">
                                <label for="female">Female</label>
                                <span class="check"></span>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label for="birth_date">DOB :</label>
                            <input type="date" name="dob" id="birth_date">
                        </div>
                        <!-- <div class="form-group">
                            <label for="pincode">Pincode :</label>
                            <input type="text" name="pincode" id="pincode">
                        </div> 
                        <div class="form-group">
                            <label for="course">Course :</label>
                            <div class="form-select">
                                <select name="course" id="course">
                                    <option value=""></option>
                                    <option value="computer">Computer Operator & Pragramming Assistant</option>
                                    <option value="desiger">Designer</option>
                                    <option value="marketing">Marketing</option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label for="contact">Mobile No:</label>
                            <input type="text" name="contact" id="contact" />
                        </div>
                        <div class="form-group">
                          <label for="image">Photo:</label>
                          <input type="file" name="image" id="image" />
                      </div>

                        <div class="form-submit">
                            <!-- <input type="submit" value="Reset All" class="submit" name="reset" id="reset" /> -->
                            <input type="submit" value="Submit " class="submit" name="submit" id="submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>