<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="logincode">
  <div align="center">
    <table width="200" border="0" class="table table-striped">
      <tr>
        <th scope="row">Username</th>
        <td><input type="text" name="textfield" required class="form-control"/></td>
      </tr>
      <tr>
        <th scope="row">Password</th>
        <td><input type="password" name="textfield2" required class="form-control" /></td>
      </tr>
      <tr>
        <th colspan="2" scope="row"><div align="center"><input type="submit" name="Submit" value="Login" class="btn btn-success" /></div></th>
      </tr>
      </table>
  </div>
</form>
</body>
{% endblock %}