{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Question list</title>

    <link href="//fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}">
</head>

<body>
    <!-- header -->
    <header class="w3l-header">
        <div class="container">
            <!--/nav-->
            <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-sm-3 px-0">
                <a class="navbar-brand" href="index.html">
                    <span ></span> </a>

                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <!-- <span class="navbar-toggler-icon"></span> -->
                    <span class="fa icon-expand fa-bars"></span>
                    <span class="fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <nav class="mx-auto">
                        <div class="search-bar">
                            <form class="search" method="post" action="{% url 'search' %}">
                                {% csrf_token %}
                                <input type="search" class="search__input" name="search"
                                    placeholder="Travel, Food, Education and more" onload="equalWidth()" required>
                                <button type="submit"><span class="fa fa-search search__icon"></span></button>
                            </form>
                        </div>
                    </nav>
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'dash'%}">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'logout'%}">Logout</a>
                        </li>                       
                    </ul>
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
        </div>
        </nav>
        <!--//nav-->
    </header>
    <!-- //header -->

    <!-- Question listing -->
    <div class="w3l-homeblock2 py-5" style="background-color: rgb(228, 233, 233);">
        <div class="container py-lg-5 py-md-4">
            <!-- block -->
            <h3 class="section-title-left mb-4">Questions</h3>
            <div class="row justify-content-center">
                <div class="col-6 mb-3 item">
                    {% for i in data %}
                    <div class="card mb-3">
                        <div class="card-header p-0 position-relative">
                            {% if i.pic %}
                                <img class="card-img-bottom d-block radius-image-full" src="{{i.pic.url}}"
                                    alt="Card image cap" height="300px" width="300px">
                            {% endif %}
                        </div>
                        <div class="card-body blog-details">
                            <span class="label-blue">{{i.group}}</span>
                            <h5>{{i.qn}}</h5>
                            <p>
                                <a href="{% url 'addans' i.id %}" class="text-blue">Add Answer</a>
                                <a href="{% url 'answers' i.id %}" class="text-blue float-right"> View Answers</a>
                            </p>

                            <div class="author align-items-center mt-3 mb-1">
                                <img src="{% static 'assets\images\avatar.png '%}" alt="" class="img-fluid rounded-circle" />
                                <ul class="blog-meta">
                                    <li>
                                        <a href="{% url 'chatroom' i.user.id %}">{{i.user}}</a>
                                    </li>
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> {{i.created_on.date}}</span>. <span
                                            class="meta-value ml-2"><span class="fa fa-clock-o"></span>{{i.created_on.time}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    <section class="app-footer">
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-angle-up"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->
    </section>
    
</body>

</html>