<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
{% extends 'admin/adminindex.html' %}
{% block body %}
<div align="center">
<form id="form1" name="form1" method="post" action="/add_course#about">
  <table width="230" border="1" class="table table-hover" align="center">
    <tr class="success">
      <td width="70"> <b>Course name</b></td>
      <td width="69"><b>Description</b></td>
      <td width="69">&nbsp;</td>
    </tr>
    {% for i in val %}
    <tr>
      <td>&nbsp;{{i[1]}}</td>
      <td>&nbsp;{{i[2]}}</td>
      <td><p><a href="edit_course?id={{i[0]}}#about"><b>Edit</b></a></p>
      <p><a href="/delete_course?id={{i[0]}}"><b>Delete</b></a></p></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="3">

          <div align="center">
            <input type="submit" name="Submit" value="Add New" class="btn btn-success"/>
            
            </div></td>
    </tr>
  </table>
</form>
  </div>
{% endblock %}
<!--</body>-->
<!--</html>-->
