<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
{% extends 'admin/adminindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/add_subject#about">
  <table width="334" border="1" class="table table-hover">
    <tr class="success">
      <td width="44"><b>Course</b></td>
      <td width="56"><b>Semester</b></td>
      <td width="46"><b>Subject</b></td>
      <td width="69"><b>Description</b></td>
      <td width="85">&nbsp;</td>
    </tr>
    {% for i in data %}
    <tr>
      <td>&nbsp;{{i[0]}}</td>
      <td>&nbsp;{{i[3]}}</td>
      <td>&nbsp;{{i[4]}}</td>
      <td>&nbsp;{{i[5]}}</td>
      <td><p><a href="edit_subject?id={{i[1]}}#about"><b>Edit</b></a></p>
      <p><a href="/delete_subject?id={{i[1]}}"><b>Delete</b></a></p></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="5"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Add new" class="btn btn-success"/>
          </div>
      </label></td>
    </tr>
  </table>
</form>
{% endblock %}
<!--</body>-->

<!--</html>-->
