<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
{% extends 'admin/adminindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/course_add">
  <table width="200" border="1"  class="table table-hover">
    <tr "success">
      <td class="success"><b>Course Name</b></td>
      <td><label>
        <input type="text" name="textfield" required/>
      </label></td>
    </tr>
    <tr>
      <td class="success"><b>Description</b></td>
      <td><label>
        <textarea name="textarea" required pattern="[A-Z a-z.]{3,200}"></textarea>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Submit" class="btn btn-success" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
{% endblock %}
<!--</body>-->
<!--</html>-->
