<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
{% extends 'admin/adminindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="update_subject">
  <table width="318" border="1"  class="table table-hover">
    <tr>
      <td class="success" width="166"><b>Course</b></td>
      <td width="136"><label>
        
         <div align="left">
             <select name="select">
               {% for i in val %}
             <option value="{{i[0]}}"{% if i[0] == value[1] %} selected {% endif %}>{{i[1]}}</option>
               {% endfor %}
              </select>
         </div>
      </label></td>
    </tr>
    <tr>
      <td class="success"><b>Semester</b></td>
      <td><label>
        
        <div align="left">
            <select name="select2">
              <option value="1" {% if value[2]=="1" %}selected {% endif %}>1</option>
              <option value="2" {% if value[2]=="2" %}selected {% endif %}>2</option>
              <option value="3" {% if value[2]=="3" %}selected {% endif %}>3</option>
              <option value="4" {% if value[2]=="4" %}selected {% endif %}>4</option>
              <option value="5" {% if value[2]=="5" %}selected {% endif %}>5</option>
              <option value="6" {% if value[2]=="6" %}selected {% endif %}>6</option>
            </select>
        </div>
      </label></td>
    </tr>
    <tr>
      <td class="success"><b>Subject</b></td>
      <td><label>
        <input type="text" name="textfield" value="{{value[3]}}" required/>
      </label></td>
    </tr>
    <tr>
      <td class="success"><b>Description</b></td>
      <td><label>
        <textarea name="textarea" required pattern="[A-Z a-z.]{3,200}">{{value[4]}}</textarea>
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="update" class="btn btn-success" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
{% endblock %}
<!--</body>-->
<!--</html>-->
