{% extends 'temp/admin.html' %}
{% block base %}
    <div class="points group">
	<h1 align="center"> FUEL STATIONS</h1>
	<table align="center" border="2">
		<tr>
            <th>fs_id</th>
			<th>Station Name</th>
			<th>Address</th>
			<th>Mail Id</th>
			<th>Phone No</th>
            <th>Status</th>
            <th></th>
            <th></th>

		</tr>   `
        {% for i in obval %}
		<tr>
			<td>{{ i.fs_id }}</td>
			<td>{{ i.username }}</td>
			<td>{{ i.address }}</td>
			<td>{{ i.email }}</td>
			<td>{{ i.phone }}</td>
            <td>{{ i.status }}</td>
            <td><a href="{% url 'approve' idd=i.fs_id %}" class="btn btn-primary">Approve</a></td>
			<td><a href="{% url 'reject' idd=i.fs_id %}" class="btn btn-danger">Reject</a></td>
		</tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}