<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="councellor_reg">
  <div align="center">
    <table width="217" border="1">
      <tr>
        <td width="54">F_Name</td>
        <td width="147"><label>
          <input type="text" name="textfield" />
        </label></td>
      </tr>
      <tr>
        <td>L_Name</td>
        <td><label>
          <input type="text" name="textfield2" />
        </label></td>
      </tr>
      <tr>
        <td>DOB</td>
        <td><label>
          <input type="date" name="textfield3" />
        </label></td>
      </tr>
      <tr>
        <td>Gender</td>
        <td><label>
          <input name="radiobutton" type="radio" value="Male" />
        Male
        <input name="radiobutton" type="radio" value="Female" />
        Female</label></td>
      </tr>
      <tr>
        <td>Place</td>
        <td><label>
          <input type="text" name="textfield4" />
        </label></td>
      </tr>
      <tr>
        <td>Post</td>
        <td><label>
          <input type="text" name="textfield5" />
        </label></td>
      </tr>
      <tr>
        <td>Pincode</td>
        <td><label>
          <input type="text" name="textfield6" />
        </label></td>
      </tr>
      <tr>
        <td>Qualification
          <label></label></td>
        <td><input type="text" name="textfield7" /></td>
      </tr>
      <tr>
        <td>Phone_no</td>
        <td><label>
          <input type="text" name="textfield8" />
        </label></td>
      </tr>
      <tr>
        <td>Email_id</td>
        <td><label>
          <input type="text" name="textfield9" />
        </label></td>
      </tr>
      <tr>
        <td>Username</td>
        <td><label>
          <input type="text" name="textfield10" />
        </label></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><label>
          <input type="text" name="textfield11" />
        </label></td>
      </tr>
      <tr>
        <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Register" />
        </div>
        </label></td>
      </tr>
      </table>
  </div>
</form>
</body>
</html>
