{% extends 'councellorindex.html'%}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="200" border="1">
      <tr>
        <td><div align="center"><a href="managecounsellortips">manage tips</a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="">view emotion graph </a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="logout">Logout</a></div></td>
      </tr>
      </table>
  </div>
</form>
</body>
{% endblock %}

