{% extends 'index.html'%}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/login2">
  <div align="center">
    <table width="200" border="0" class="table table-striped">
      <tr>
        <th scope="row">username</th>
        <td><label for="textfield" ></label>
        <input type="text" name="textfield" id="textfield" required class="form-control" /></td>
      </tr>
      <tr>
        <th scope="row">password</th>
        <td><label for="textfield2"></label>
        <input type="password" name="textfield2" id="textfield2"  class="form-control" required/></td>
      </tr>
      <tr>
        <th colspan="2" scope="row"><div align="center">
          <input type="submit" name="button" id="button" value="login" class="btn btn-primary" />
          <a href="addcounsellor">Counsellor_registration</a></div></th>
      </tr>
    </table>
  </div>
</form>
</body>
{% endblock %}