{% extends 'adminindex.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="0" class="table table-striped">
    <tr class=" table-primary">
      <th scope="col">User Name </th>
      <th scope="col"><p>Date </p>
      </th>
      <th scope="col">Feedback</th>


    </tr>
          {% for i in val %}

    <tr>
      <td>&nbsp;{{i[0]}} {{i[1]}}</td>


      <td>&nbsp;{{i[4]}}</td>
      <td>{{i[5]}}&nbsp;</td>
    </tr>
    {%endfor%}
  </table>
</form>
</body>
{% endblock %}