<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <table class="table table-success">
        <tr>
            <th>user</th>
            <th>foodtype</th>
            <th>quantity</th>
            <th>dateofmanufacture</th>
            <th>description</th>
            <th>image</th>
        </tr>
         {% for i in data %}
        <tr>
            <td>{{i.user}}</td>
            <td>{{i.foodtype}}</td>
            <td>{{i.quantity}}</td>
            <td>{{i.dateofmanufacture}}</td>
            <td><a href="{{i.description.url}}">Download</a></td>
            <td><img src="{{i.image.url}}" height="250px" width="250px"></td>
        </tr>
        {% endfor %}


</table>
</body>
</html>