<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="aa">
  <table width="334" border="1">
    <tr>
      <td width="166"><div align="center">Fname</div></td>
      <td width="152"><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <td><div align="center">Lname</div></td>
      <td><label>
        <input type="text" name="textfield2" />
      </label></td>
    </tr>
    <tr>
      <td><div align="center">Gender</div></td>
      <td><label>
        <input name="radiobutton" type="radio" value="male" />
      Male
      <input name="radiobutton" type="radio" value="female" />
      Female</label></td>
    </tr>
    <tr>
      <td><div align="center">Place</div></td>
      <td><label>
        <input type="text" name="textfield3" />
      </label></td>
    </tr>
    <tr>
      <td height="29"><div align="center">Post</div></td>
      <td><label>
        <input type="text" name="textfield4" />
      </label></td>
    </tr>
    <tr>
      <td><div align="center">Pincode</div></td>
      <td><label>
        <input type="text" name="textfield5" />
      </label></td>
    </tr>
    <tr>
      <td><div align="center">Dob</div></td>
      <td><label>
        <input type="text" name="textfield6" />
      </label></td>
    </tr>
    <tr>
      <td><div align="center">Phone</div></td>
      <td><label>
        <input type="text" name="textfield7" />
      </label></td>
    </tr>
    <tr>
      <td><div align="center">Email</div></td>
      <td><label>
        <input type="text" name="textfield8" />
      </label></td>
    </tr>
    <tr>
      <td><div align="center">UserName</div></td>
      <td><label>
        <input type="text" name="textfield9" />
      </label></td>
    </tr>
    <tr>
      <td><div align="center">Password</div></td>
      <td><label>
        <input type="text" name="textfield11" />
      </label></td>
    </tr>
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Submit" />
          </div>
      </label></td>
    </tr>
  </table>
  
</form>
</body>
</html>
