<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="339" border="1">
    <tr>
      <td width="58">Work</td>
      <td width="109">Description</td>
      <td width="48">Date</td>
      <td width="96">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><p><a href="#">Update</a></p>
      <p><a href="#">Status</a></p></td>
    </tr>
  </table>
</form>
</body>
</html>
